magic {
    background: #22C55E;
    background: linear-gradient(to bottom right, #22C55E 20%, #2563EB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


    .translate-x-0 { transform: translateX(0); }
    .translate-x-12 { transform: translateX(3rem); }
    .translate-x-24 { transform: translateX(6rem); }
    .translate-x-36 { transform: translateX(9rem); }
    .translate-x-48 { transform: translateX(12rem); }