@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-snap-type: y mandatory;
    font-family: "Poppins", sans-serif;
}
body {
    padding-bottom: env(safe-area-inset-bottom);
    font-family: "Poppins", sans-serif;
}